.card {
  border-radius: 16px;
  margin: 30px auto;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  background-image: linear-gradient(
      rgba(54, 54, 250, 0.3),
      rgb(255, 255, 255, 0.5)
    ),
    url('/public/Assets/ImagePanoplie/un-arc.png');
  background-size: cover;
}

.card1 {
  border-radius: 16px;
  margin: 30px auto;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  background-image: linear-gradient(
      rgba(54, 54, 250, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url('/public/Assets/ImagePanoplie/fleches.png');
  background-size: cover;
}

.card2 {
  border-radius: 16px;
  margin: 30px auto;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  background-image: linear-gradient(
      rgba(54, 54, 250, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url('/public/Assets/ImagePanoplie/lemasque.png');
  background-size: cover;
}

.card3 {
  border-radius: 16px;
  margin: 30px auto;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  background-image: linear-gradient(
      rgba(54, 54, 250, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url('/public/Assets/ImagePanoplie/bunker.png');
  background-size: cover;
}

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #fafafa;
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.3s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('/public/Assets/ImageLogo/logo.png');
  background-size: cover; /* contain permet d'obtenir le logo à 100% */
  opacity: 0.3;
  transform: translateY(-60%) translateY(30px) translateZ(0);
  transition: transform 0.3s ease-out;
}

.title {
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.description {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(118, 82, 82);
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.card1:hover .info,
.card1:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.card2:hover .info,
.card2:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.card3:hover .info,
.card3:hover .info:before {
  transform: translateY(0) translateZ(0);
}

section {
  display: flex; /* mise des blocs photos en lignes par rapport à l'espace alloué */
  flex-wrap: wrap; /* empêche les photos de se chevaucher */
}
