.logo {             /* Mise du logo en haut à gauche - lecture en Z */
  width: 200px;
  position: fixed;
}

.logo1 {
  width: 200px;
  float: right;     /* Mise du logo en bas à droite - lecture en Z */
  margin: 5px 0 20px 20px;
}
