ul {
  list-style-type: none; /* On enlève les puces des listes */
  display: flex; /* On organise le système flexbox */
  flex-direction: row; /* On dispose les icônes côte-à-côte */
}

li {
  margin: 5px; /* On sépare de 5px les icônes de par les marges */
}
